.background-sheet {
    box-sizing: border-box;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 99999;
    background-color: rgba(50, 50, 50, 0.9);
}

.lightbox li a,
.modal li a {
    text-decoration: underline;
}

.lightbox,
.modal {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.2s ease-in;
    overflow-y: auto;
    z-index: 100000;
}

.lightbox {
    left: 0;
    top: 0;
    margin-left: -65vw;
    width: 65vw;
    height: 100vh;
}

.modal {
    margin-left: 0;
    margin-top: -105vh;
    width: 70vw;
    left: 15vw;
    top: 10vh;
}

.lightbox .content,
.modal .content {
    width: 100%;
}

.modal .content {
    height: 80vh;
}

.lightbox .content-wrapper,
.modal .content-wrapper {
    padding: 50px;
}

.background-sheet.show {
    left: 0;
    padding: 0px;
}

.lightbox.show {
    margin-left: 0vw;
}

.lightbox.show h3 {
    margin-bottom: 5px;
}

.lightbox.show p,
.lightbox.show ul {
    margin-top: 0;
}

/* .lightbox.show li {
    margin-bottom: 20px;
} */

.modal.show {
    margin-top: 0;
}

.lightbox .close,
.modal .close {
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eeeeee8f;
    padding: 10px 20px;
    border-radius: 0;
}

.lightbox .close:hover,
.modal .close:hover {
    color: #555;
}

@media screen and (max-width: 1000px) {

    .lightbox.show,
    .modal.show {
        margin-left: 0vw;
        width: 100%;
        padding: 0px;
    }

    .modal {
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
    }

    .lightbox .content-wrapper,
    .modal .content-wrapper {
        padding: 20px;
    }

    .lightbox.show .close,
    .modal.show .close {
        transition: none;
        top: 0px;
        right: 0;
    }

    /* Make text bigger on mobile */
    .lightbox,
    .modal {
        font-size: 1.3em;
    }
}