.news {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 30px;
}

.news .featured {
    background-color: #F0F0F0;
}

.news .featured img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}